*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
*::selection{
  background-color: rgb(249, 162, 23);
}
html{
  scroll-behavior: smooth;
}

/* /////////////////// */
.try {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 4px;
  background-color: #252525;
  z-index: -1;
}

.try span {
  width: 40px;
  height: 40px;
  background-color: #121212;
  /* border: 1px solid red; */
  box-sizing: border-box;
  transition:  1.5s;
  /* z-index: ; */
}
.try span:hover,.try span:active{
  transition: 0s;
  background-color: #0f0;
}